<form action="/logout" method="post">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end logout">
    <button type="submit" class="btn btn-success rounded-pill btn-lg px-4 custom-btn">Log Out</button>
  </div>
</form>